/*
* 主题介绍
* 做一个更适合曾某体质的typora主题 -- 从官方主题改动而来。主要特点： 字体方面 - 将正文字体改为蓝色，蓝色墨水写的好看；标题方面 - 调整每级标题的大小 ，更具层次感*/
/*
* shenzaoyi
* float
*/



:root {
  --bg-color:var(white); /*改变背景色*/
  --text-color: #333333; /*改变文字颜色*/
  --md-char-color: #c7c5c5fc; /*改变元字符的颜色，例如 markdown 中的“*”*/
  --meta-content-color: #5b808d; /*改变元内容的颜色，例如 markdown 中的图像文本和链接地址*/

  --primary-color: red; /*主按钮的颜色*/
  --primary-btn-border-color: #285e8e;
  --primary-btn-text-color: #fff;

  --window-border: 1px solid #eee; /*边栏等的边框*/

  --active-file-bg-color: #eee; /*文件树或文件列表中当前项的背景色*/
  --active-file-text-color: inherit;
  --active-file-border-color: #777;

  --side-bar-bg-color: var(--bg-color); /*改变边栏颜色*/
  --item-hover-bg-color: rgba(229, 229, 229, 0.59); /*鼠标悬停时控件项的背景，如侧边栏中的菜单*/
  --item-hover-text-color: inherit;
  --monospace: monospace; /*代码的等宽字体*/
}
/*这是官方文档提供的常用，稍作更改*/

html{
  color:black;
}
body{
  font-family: Consolas, 'Source Han SerifCN', Georgia, Times, 'SimSun', serif!important;
}
strong {
  font-weight:900;
  font-size:25px;     /*强调*/
}

#write{
  color:#285e8e;      /*将字体颜色改为淡蓝色，感觉淡蓝色墨水好看些，不接受反驳！*/
}

content {
    background-image: url(https://img1.imgtp.com/2023/01/13/QUwO5WAP.jpg);
    /* background-repeat: repeat; */
    background-position: -52px;
  }

  #write {
    /* margin-top: 15px; */
    background-color: rgba(255, 255, 255, 0.68);
    /* margin-bottom: 24px; */
    min-height: calc(100% - 48px);
    font-size:20px;
  }


  /*---------------------------------------对标题做的更改------------------------------------------------------------*/
 #write h1{
  
  font-size: 50px;
  text-align: center;   /*  让大标题居中 */
  letter-spacing: 0.45em;
  word-spacing: 0.1em;
  font-family:'Times New Roman', Times, serif;
  margin:20px;
  color:black;  

  /* 由于不想让标题像大字报一样，新增一点特效啊 */
 }
 #write h2{
  color:lightslategray;
  font-size: 45px;
  margin:20px;
  letter-spacing: 0.45em;
    word-spacing: 0.1em;  
    text-decoration: underline;
 }
 
  #write
 h3,
 h4,
 h5,
 h6{
  color:darkolivegreen;
  margin:20px;
  letter-spacing: 0.45em;
    word-spacing: 0.1em;
 }
 
#write h3{
  font-size: 35px;
  text-decoration: underline;
 }
#write h4{
  font-size: 25px;
  text-decoration: underline;
 }
#write h5{
  font-size: 20px;
  text-decoration: underline;
 }
#write h6{
  font-size: 20px;
  text-decoration: underline;
 }

  #write h1:hover{
    transition-duration: 1.5s;
    transform: scale(1.1,1.25);
  }
  #write h2:hover{
    transition-duration: 1.5s;
    transform: scale(1.1,1.25);
  }#write h3:hover{
    transition-duration: 1.5s;
    transform: scale(1.1,1.25);
  } #write h4:hover{
    
    transition-duration: 1.5s;
    transform: scale(1.1,1.25);
  } #write h5:hover{
    transition-duration: 1.5s;
    transform: scale(1.1,1.25);
  } #write h6:hover{
    transform: scale(1.1,1.25);
    transition-duration: 1.5s;
  }
  
/*---------------------------------------对段落做的更改------------------------------------------------------------*/
#write p{
  line-height: 28px;
  margin: 0 0 20px;
  text-indent: 36px;

} 
/*---------------------------------------对超链接做的更改------------------------------------------------------------*/
#write a{
  color:chocolate;

} 

#write a:hover{
  color:darkred;
}


/*------------------------------------------选中字体的荧光笔特效---------------------------------------------------------*/

::selection { background-color:chartreuse}   /*选中字体的荧光笔特效*/ 

/*------------------------------------------代码高亮---------------------------------------------------------*/

#write .md-fences {
  border: 1px solid #7a7a7a;
  -webkit-font-smoothing: initial;
  margin: 0.5rem 0 !important;
  /* padding: 0.3rem 0 !important; */
  padding: 3px 5px;
  line-height: 1.55rem;
  border-radius: 2px;
  /*font-family: 'Roboto Mono', 'Source Sans Pro', 'Microsoft YaHei', '微软雅黑' !important;*/
  /*font-family: 'Roboto Mono', 'Source Sans Pro', 'Microsoft YaHei', '微软雅黑';*/
  font-family: Consolas, 'Source Han SerifCN', Georgia, Times, 'SimSun' !important;
  /*font-size: 0.9rem;*/
  font-size: 17px;
  font-weight: normal;
  word-wrap: normal;
}
/*------------------------------------------关于表格---------------------------------------------------------*/

/*列表*/




/*------------------------------------------强调---------------------------------------------------------*/
#write mark{
  background-color: var(--mark-color);
  }


/*------------------------------------------引用---------------------------------------------------------*/
/* #write blockquote{
  background-color:gainsboro;
  font-size:16;
  color:FFFFE0;
  border:8px solid chocolate;
  border-right-width:0;
  border-top-width:0;
  border-bottom-width:0;

} */
/*引用块颜色调整为舒适的颜色*/
blockquote {
  border-left: 4px solid rgb(239, 112, 96);
  padding: 10px 15px;
  color: #fffefe;
  background-color: #4c4141;
}
/*------------------------------------------转为pdf的设置，直接整官方的---------------------------------------------------------*/
@media print {
  html {
      font-size: 13px;
  }
  pre {
      page-break-inside: avoid;
      word-wrap: break-word;
  }
}

/*------------------------------------------typora可以作为任务列表来---------------------------------------------------------*/
.task-list-done {
  /* styles for completed tasks */
  text-decoration: line-through;
}
/* -------------------------------------------------------------列表-----------------------------------------------------------------------------------*/
#write ol>li>*,/*字体加粗更加显眼*/
#write ul>li>* {
    /*color: #333;*/
    /*color: black;*/
    font-weight: bold;
}
